<!-- header -->
<%- include('../layouts/adminheader.ejs') %>

<!-- Add Category Column -->
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Add Category</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">New</li>
        </ol>
        <form method="POST" onsubmit="return doCreateCategory(this)">
            <div class="form-group">
                <label for="title">Category</label>
                <input name="title" class="form-control" value="<%= newCategory.title %>" placeholder="Title.."
                    required>
            </div>
            <input type="submit" class="btn btn-info" value="Submit">
        </form>
    </div>
</main>
<!-- AJAX to create category -->
<script>
    function doCreateCategory(form) {
        const formData = {
            title: form.title.value,
        }
        $.ajax({
            url: '/admin/categories/add-category',
            method: "POST",
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    bs4pop.notice(response.msg, {
                        type: 'success',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                    setTimeout(function () { window.location.href = "/admin/categories" }, 1000);
                } else if (response.status === "error") {
                    bs4pop.notice(response.msg, {
                        type: 'danger',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                }
            }
        })
        return false
    }
</script>

<!-- footer -->
<%- include('../layouts/adminfooter.ejs') %>