<!-- header -->
<%- include('../layouts/adminheader.ejs') %>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Unauthorized Access</h1>
        <br><br>
        <div class="alert alert-danger">
            <strong>Forbidden!</strong> You dont have priviledge to access this section.
        </div>
    </div>
</main>

<!-- footer -->
<%- include('../layouts/adminfooter.ejs') %>