<%- include('header') %>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">New Post</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">New Post</li>
            </ol>
            <form method="POST" onsubmit="return doPost(this)">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" class="form-control" placeholder="Blog Title..">
                </div>
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Upload Image
                </button>

                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" class="form-control" placeholder="Enter Text here......" rows="5"
                        cols="20"></textarea>
                </div>
                <input type="submit" class="btn btn-info" value="Submit">
            </form>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Heading</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form method="POST" enctype="multipart/form-data" id="form-upload">
                                <div class="form-group">
                                    <input type="file" name="file" class="form-control">
                                </div>
                                <input type="submit" class="btn btn-success" value="Upload">
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <script>
                function doPost(form) {
                    const formData = { title: form.title.value, content: form.content.value, image: imagePath }
                    $.ajax({
                        url: '/do-post',
                        method: "POST",
                        data: formData,
                        success: function (response) {
                            alert(response.text)
                            formData._id = response._id
                            formData.createdAt = response.createdAt
                            let socket = io()
                            socket.emit("new_post", formData)
                        }
                    })
                    return false
                }

                var imagePath = "";
                $("#form-upload").on("submit", function (e) {
                    e.preventDefault()
                    $.ajax({
                        url: '/do-upload-image',
                        method: "POST",
                        data: new FormData(this),
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (response) {
                            imagePath = response;
                            $("#myModal").modal("hide");
                            $('.modal-backdrop').remove();
                        }
                    })
                })
            </script>
            <%- include('footer') %>