<!-- header -->
<%- include('../layouts/adminheader.ejs') %>

<!-- Settings Column -->
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Reading Settings</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Settings</li>
        </ol>
        <!-- Settings form -->
        <form method="POST" onsubmit="return updateSettings(this)">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">No. of Posts</label>
                <div class="col-sm-4">
                    <input type="text" name="post_limit" class="form-control" value="<%= limit %>">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save Setting</button>
                </div>
            </div>
        </form>

    </div>
</main>

<!-- AJAX to update settings-->

<script>
    function updateSettings(form) {
        const formData = {
            limit: form.post_limit.value,
        }
        $.ajax({
            url: '/admin/settings/reading',
            method: "POST",
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    bs4pop.notice(response.msg, {
                        type: 'success',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                    setTimeout(function () { window.location.reload() }, 1000);
                } else if (response.status === "error") {
                    bs4pop.notice(response.msg, {
                        type: 'danger',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                }
            }
        })
        return false
    }

</script>


<!-- footer -->
<%- include('../layouts/adminfooter.ejs') %>