<!-- header -->
<%- include('../layouts/adminheader.ejs') %>

<!-- Settings Column -->
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Settings</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Settings</li>
        </ol>
        <!-- Settings form -->
        <form method="POST" onsubmit="return updateSettings(this)">
            <div class="form-group">
                <label>Post Limit</label>
                <input name="post_limit" class="form-control" value="<%= setting %>">
            </div>

            <input type="submit" class="btn btn-info" value="Save Settings">
        </form>
    </div>
</main>

<!-- AJAX to update settings-->

<script>
    function updateSettings(form) {
        const formData = {
            limit: form.post_limit.value,
        }
        $.ajax({
            url: '/admin/settings',
            method: "POST",
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    bs4pop.notice(response.msg, {
                        type: 'success',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                    setTimeout(function () { window.location.reload() }, 1000);
                } else if (response.status === "error") {
                    bs4pop.notice(response.msg, {
                        type: 'danger',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                }
            }
        })
        return false
    }

</script>


<!-- footer -->
<%- include('../layouts/adminfooter.ejs') %>