<%- include('header') %>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Settings</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Settings</li>
            </ol>
            <form method="POST" action="/admin/settings">
                <div class="form-group">
                    <label>Post Limit</label>
                    <input name="post_limit" class="form-control" value="<%= setting %>">
                </div>

                <input type="submit" class="btn btn-info" value="Save Settings">
            </form>


            <%- include('footer') %>